

{{#if loggedIn}}
{{#each alerts as |alert|}}
<table class="table border my-2">
  <thead class="table-dark">
          <tr>
            <th scope="col">User</th>
            <th scope="col">Ticker</th>
            <th scope="col">Entry</th>
            <th scope="col">Entry Price</th>
            <th scope="col">Current Price</th>
            <th scope="col">Status</th>
            <th scope="col">Time</th>
            {{!-- <th scope="col">Closed Time</th>
            <th scope="col">Trade Gain</th> --}}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{alert.user.username}}</td>
            <td>{{alert.ticker}}</td>
            <td>{{alert.entry}}</td>
            <td>{{alert.entry_price}}</td>
            <td>{{alert.current_price}}</td>
            <td>{{alert.status}}</td>
            <td>{{format_time alert.createdAt}} {{format_date alert.createdAt}}</td>
          </tr>
        </tbody>
      </table>
      {{/each}}

      {{else}}
      <a href="/login">You must to login to view the alert</a>
      {{/if}}
 {{!-- <script src="./js/homepage.js"></script> --}}

